@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Click the below link to go Login Page </h4>
    <p><a href="http://localhost:11564/LoginDashboard/Login" class="btn btn-primary btn-md">Go to Login Page &raquo;</a></p>

</div>
